* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

:root{
  --color-main-gray: #404342;
  --color-light-gray: #4f4f4f;
  --color-aquamarine: #51CACD;
  --color-bg: #f5f5f5;
  --page-padding-inline: clamp(20px, 5px + 10vw, 200px);
  --header-height: clamp(50px, 25px + 3vw, 60px);

}

@media (max-width: 768px) {
  :root{
    --page-padding-inline: 20px;
  }
}

*:active, *:focus, *:focus-visible, *:focus-within, &:hover{
  outline-color:  transparent;
}


html{
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 10px;
  appearance: none;
  visibility: none;
}
html::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: var(--color-light-gray);
  border-radius: 100vh;
}
